/* Claude Theme Design Tokens */
@import "tailwindcss";

/* NOTE: ALL THEME VARIABLES ENDING WITH -content ARE FOR TEXT COLORS ON BACKGROUNDS THAT CORRESPOND TO THE VARIABLE NAME WITHOUT THE -content SUFFIX */

@theme {
  /* ===== BASE TOKENS: FOR COLORING MOST BACKGROUNDS (NEUTRAL AND THE BULK OF THE PAGE CANVAS) ===== */
  --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240);

  /* ===== PRIMARY BRAND COLORS: FOR COLORING PRIMARY ELEMENTS (BUTTONS, LINKS, ETC.) ===== */
  --color-primary: oklch(0.59 0.2099 25.05); /* Red*/
  --color-primary-gradient-mix: oklch(0.59 0.1716 42.13); /* Orange*/
  --color-primary-content: oklch(100% 0 0);

  /* ===== SECONDARY BRAND COLORS: FOR PROVIDING CONTRAST TO PRIMARY BRAND COLORS MOSTLY FOR ACCENTS (USE SPARINGLY) ===== */
  --color-secondary: oklch(70% 0.25 30);
  --color-secondary-gradient-mix: oklch(70% 0.25 280);
  --color-secondary-content: oklch(98% 0.01 200);

  /* ===== NEUTRAL COLORS: FOR COLORING LESS IMPORTANT ELEMENTS IN COMPARISON TO PRIMARY AND SECONDARY BRAND COLORS (FOR EXAMPLE: CANCEL BUTTONS) ===== */
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);

  /* ===== INFO STATUS COLORS: FOR COLORING INFO ELEMENTS (ALERTS, BANNERS, BADGES, ETC.) ===== */
  --color-info: oklch(70% 0.2 220);
  --color-info-gradient-mix: oklch(70% 0.2 280);
  --color-info-content: oklch(80% 0.2 220);

  /* ===== SUCCESS STATUS COLORS: FOR COLORING SUCCESS ELEMENTS (ALERTS, BANNERS, BADGES, ETC.) ===== */
  --color-success: oklch(65% 0.25 140);
  --color-success-gradient-mix: oklch(65% 0.25 280);
  --color-success-content: oklch(75% 0.25 140);

  /* ===== WARNING STATUS COLORS: FOR COLORING WARNING ELEMENTS (ALERTS, BANNERS, BADGES, ETC.) ===== */
  --color-warning: oklch(80% 0.25 80);
  --color-warning-gradient-mix: oklch(80% 0.25 280);
  --color-warning-content: oklch(90% 0.25 80);

  /* ===== ERROR STATUS COLORS: FOR COLORING ERROR ELEMENTS (ALERTS, BANNERS, BADGES, ETC.) ===== */
  --color-error: oklch(65% 0.3 30);
  --color-error-gradient-mix: oklch(65% 0.3 280);
  --color-error-content: oklch(75% 0.3 30);
}

/* Dark Theme Overrides */
[data-theme="dark"],
.htw-dark {
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
}
